.example-section {
  margin-bottom: 3rem;
  display: inline-block;
}

.example-margin {
  margin-bottom: 10px;
  // box-shadow: 0 0 0 0.2rem rgba(2, 8, 15, 0.25);
}

.mat-checkbox {
  display: block;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
