<div class="form-section">
  <form [formGroup]="educationForm">
    <div formArrayName="educationRecords">
      <div
        *ngFor="let education of educationRecords.controls; let i = index"
        [formGroupName]="i"
        class="education-record"
      >
        <h3></h3>

        <div class="content-wrapper">
          <div class="form-section flex flex-wrap -mx-2">
            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <input
                placeholder="Course Title"
                formControlName="nameofCourse"
                type="text"
                nz-input
                class="w-full border border-gray-300 rounded px-3 py-2"
                nzSize="default"
              />
            </div>

            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <input
                placeholder="Institution"
                type="text"
                class="w-full border border-gray-300 rounded px-3 py-2"
                formControlName="institution"
                nz-input
                nzSize="default"
              />
            </div>
          </div>

          <div class="form-column flex flex-wrap -mx-2">
            <div class="form-group flex flex-col w-full py-2 px-2 sm:w-1/2">
              <label for="startYear">Start Date</label>
              <nz-date-picker
                formControlName="startYear"
                (ngModelChange)="onDateChange($event)"
              ></nz-date-picker>
            </div>

            <div class="form-group flex flex-col w-full py-2 px-2 sm:w-1/2">
              <label for="endYear">End Date</label>
              <nz-date-picker
                formControlName="endYear"
                class="w-full border border-gray-300 rounded px-3 py-2"
                (ngModelChange)="onDateChange($event)"
              ></nz-date-picker>
            </div>
          </div>

          <div class="form-group  px-2 py-2 -mx-2">
            <label for> Summary </label>
            <app-custom-editor
              formControlName="summary"
              placeholder="Enter summary"
           
              name="summary"
            ></app-custom-editor>
          </div>

          <div class="flex justify-end">
            <button
              (click)="removeEducationRecord(i)"
              nz-button
              nzType="primary"
              [nzSize]="'small'"
              nz-button
              nzType="primary"
              nzDanger
            >
              <span nz-icon nzDanger nzType="delete"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <button
      class="btn-create"
      nz-button
      nzType="primary"
      (click)="addEducationRecord()"
      type="button"
    >
      Add Course
    </button>
  </form>
</div>
