<!-- Add button to create a new education record -->

<!-- Form with collapsible panels -->
<form [formGroup]="educationForm">
  <div formArrayName="educationRecords">
    <nz-collapse>
      <nz-collapse-panel
        *ngFor="let education of educationRecords.controls; let i = index"
        [formGroupName]="i"
        [nzHeader]="
          education.get('nameOfInstitution')?.value || 'New Institution'
        "
        [nzActive]="true"
        [nzShowArrow]="true"
      >

      
        <section class="content-wrapper custom-divider">

          <div class="form-column flex flex-wrap -mx-2">
            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="name">Institution Name</label>
              <input
                type="text"
                id="name"
                formControlName="nameOfInstitution"
                nz-input
                  class="w-full border border-gray-300 rounded px-3 py-2"
                nzSize="default"
                placeholder="Enter institution name"
              />
            </div>

            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="degree"> Qualification </label>
              <input
                type="text"
                id="degree"
                formControlName="degree"
                placeholder="Enter degree"
                nz-input
                  class="w-full border border-gray-300 rounded px-3 py-2"
                nzSize="default"
              />
            </div>
          </div>

          <div class="form-section flex flex-wrap -mx-2">
            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="country"> City </label>
              <input
                placeholder="Enter City"
                formControlName="city"
                type="text"
                nz-input
                  class="w-full border border-gray-300 rounded px-3 py-2"
                nzSize="default"
              />
            </div>

            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="country">Country </label>
              <input
                placeholder="Country"
                type="text"
                formControlName="country"
                nz-input
                  class="w-full border border-gray-300 rounded px-3 py-2"
                nzSize="default"
              />
            </div>
          </div>

          <div class="form-column flex flex-wrap -mx-2">
            <div class="form-group flex flex-col px-2 py-2 w-full sm:w-1/2">
              <label for="startYear">Start Date</label>

              <nz-date-picker
                formControlName="startYear"
                (ngModelChange)="onDateChange($event)"
              ></nz-date-picker>
            </div>

            <div class="form-group flex px-2 py-2 flex-col w-full sm:w-1/2">
              <label for="endYear">End Date</label>
              <nz-date-picker
                formControlName="endYear"
                (ngModelChange)="onDateChange($event)"
              ></nz-date-picker>
            </div>
          </div>

          <div class="form-group  px-2 py-2 -mx-2">
            <div class="form-group">
              <div class="checkbox-wrapper-14">
                <label for="s1-14" class="font-normal">
                  Institution Website
                </label>
                <nz-input-group nzAddOnAfterIcon="chrome">
                  <input type="text"
                  class="border border-gray-300 rounded px-3 py-2"
                  nz-input formControlName="website" />
                </nz-input-group>
              </div>
            </div>
          </div>

          <div class="form-group px-2 py-2 -mx-2">
            <label for> Summary </label>
            <app-custom-editor
              formControlName="summary"
              placeholder="Enter summary"
              name="summary"
            ></app-custom-editor>
          </div>

          <div class="flex justify-end">
            <button
              (click)="removeEducationRecord(i)"
              nz-button
              nzType="primary"
              [nzSize]="'small'"
              nz-button
              nzType="primary"
              nzDanger
            >
              <span nz-icon nzDanger nzType="delete"></span>
            </button>
          </div>
        </section>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</form>


<section class="py-3">
  <button
  class="btn-create "
  nz-button
  nzType="primary"
  (click)="addEducationRecord()"
  type="button"
>
  Add Education
</button>
</section>

