/** @group core layout **/
#w {
//   margin: 0px 50px;
  padding: 20px 40px;
  padding-top: 35px;
//   background: #fff;
  min-width: 260px;
  max-width: 900px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
}

header {
  width: 100%;
}

/** @group personal settings **/
#info {
  float: left;
  margin-bottom: 12px;
}
#photo {
  float: right;
}


#photo img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 300px;
 
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  width: 80px;
  height: 80px;
}

/** @group skills **/
#skills-left {
  display: block;
  float: left;
  margin-right: 30px;
}
#skills-right {
  display: block;
  float: left;
}

 

/** @group clearfix **/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 4.5em;
  }
  h3 {
    font-size: 2.2em;
  }
  h2 {
    display: block;
    text-align: center;
  }
  #info {
    float: none;
    display: block;
    text-align: center;
  }


  #photo {
    float: none;
    display: block;
    text-align: center;
	border-radius: 50%;
  }
  #w {
    padding: 20px 15px;
  }
  p {
    padding: 0;
  }
}

@media only screen and (max-width: 570px) {
  ul li {
    display: inline-block;
    padding-left: 15px;
    width: 140px;
    background-position: -5px 0px;
    margin-right: 6px;
    line-height: 1.7em;
  }
  #skills-left,
  skills-right {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 480px) {
  ul li {
    width: 120px;
  }
  #w {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 320px) {
  #w {
    margin: 0 10px;
  }
}

/** iPhone only **/
@media screen and (max-device-width: 480px) {
  ul li {
    width: 150px;
  }
}
