<div class="signup-container">
  <!-- <app-logo></app-logo> -->
  <div class="form" [formGroup]="loginForm" (ngSubmit)="logInSubmit()">
    <h3 class="text-center"> Welcome back </h3>

    <div class="form-group">
      <label for="">Email</label>
      <input
        class="form-input"
        type="email"
        required
        name="email"
        placeholder="Enter email"
        formControlName="email"
         
      />
      <!-- <div *ngIf="submitted && formField?.email?.errors" class="invalid-feedback">
        <div *ngIf="formField?.email?.errors.required">Email is required</div>
        <div *ngIf="formField.email.errors.email">
          Email must be a valid email address
        </div>
      </div> -->

      <!-- <mat-form-field appearance="outline">
        <mat-label> Enter email </mat-label>
        <input matInput  formControlName="email" placeholder="Enter Email">
      </mat-form-field> -->

    </div>

    <div class="form-group">

      <label for="">Password</label>
      <input
        class="form-input"
        type="password"
        required
        placeholder="Enter password"
        formControlName="password"
      />
      <!-- <div
        *ngIf="submitted && formField.password.errors"
        class="invalid-feedback"
      >
        <div *ngIf="formField.password.errors.required">
          Password is required
        </div>
        <div *ngIf="formField.password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div> -->


      <!-- <mat-form-field appearance="outline">
        <mat-label> Enter Password </mat-label>
        <input matInput    formControlName="password" placeholder="Enter Password">
      </mat-form-field> -->

    </div>

   

  <div class="form-group terms">
    <p> Don't have an account? <a routerLink="/auth/signup"> Signup </a></p>
  </div>

    <!-- <mat-spinner
      strokeWidth="3"
      [diameter]="30"
      *ngIf="!isLoading"
    ></mat-spinner> -->

    <button type="submit" class="btn btn-green" > Continue </button>
    
    <div class="btn-group">
      <button (click)="login()" type="button" class="login-with-google-btn" >
         Continue with google
      </button>
    </div>

    <div class="btn-cta">
      <span> Forgot password </span>
      <a routerLink="/auth/resetpassword"> Password Reset </a>
    </div>
  </div>
</div>
