<section>
	<div class="app-container">
		<div class="builder-section">
			<app-builder-ui></app-builder-ui>
		</div>
		<div class="preview-section">
			<!-- <app-template-sk></app-template-sk> -->
			<!-- <app-template-bright></app-template-bright> -->
			<!-- <app-template-kingdom></app-template-kingdom> -->
			<!-- <app-template-objection></app-template-objection> -->
			<!-- <app-template-pincode></app-template-pincode> -->
			<!-- <app-template-scaller></app-template-scaller> -->
			<app-template-sunshine></app-template-sunshine>
		</div>
	</div>
</section>