<div class="zoom-controls">
  <button (click)="zoomIn()">Zoom In</button> <br />
  <button (click)="zoomOut()">Zoom Out</button> <br />
  <button (click)="resetZoom()">Reset Zoom</button> <br />
</div>

<section
  class="content"
  [ngStyle]="{
    transform: 'scale(' + zoomLevel + ')',
    left: position.x + 'px',
    top: position.y + 'px'
  }"
  (mousedown)="startDrag($event)"
  (mouseup)="stopDrag()"
  (mouseleave)="stopDrag()"
  (mousemove)="onDrag($event)"
>
  <p (click)="downloadResume()">Download Resume</p>

  <section class="template-cover" *ngIf="profileData()">
    <section id="download-content">
      <section class="header personaldetails">
        <div class="section row">
          <h1 class="col">
            <span style="font-weight: 700">
              {{ profileData()?.HeaderProfileInfo?.firstname }}
            </span>
            {{ profileData()?.HeaderProfileInfo?.lastname }}
          </h1>
          <div class="contact-info col-right">
            <div>{{ profileData()?.HeaderProfileInfo?.fullname }}</div>
            <div>
              <a href="mail:to {{ profileData()?.HeaderProfileInfo?.email }}">{{
                profileData()?.HeaderProfileInfo?.email
              }}</a>
            </div>
            <div>
              <a href="{{ profileData()?.HeaderProfileInfo?.country }}"
                >{{ PersonalDetails?.country }}
              </a>
            </div>
          </div>
        </div>

        <div class="section row">
          <h2 class="col">Social Handles</h2>
          <div class="section-text col-right">
            <ul class="skills" style="width: 25%">
              <li
                *ngFor="
                  let social of profileData()?.HeaderProfileInfo?.socialMedia
                "
              >
                <a [href]="social.link" target="_blank">{{
                  social.platform
                }}</a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="summary" *ngIf="profileData()?.ProfessionalSummary">
        <div class="section row">
          <h2 class="col">Professional Summary</h2>
          <div class="section-text col-right">
            {{ profileData()?.ProfessionalSummary?.summary }}
          </div>
        </div>
      </section>

      <section class="interest-section">
        <div class="section row">
          <h2 class="col">Interests</h2>

          <div class="section-text col-right">
            <span class="key" *ngFor="let hobby of profileData()?.Hobbies">{{
              hobby
            }}</span>
          </div>
        </div>
      </section>

      <section class="skill-section row">
        <h2 class="col">Skills</h2>
        <div class="section-text col-right row">
          <li *ngFor="let skill of profileData()?.Skills">
            {{ skill.skill }} - Proficiency: {{ skill.proficiency }} (Level:
            {{ skill.level }})
          </li>
        </div>
      </section>

      <div class="education-section row">
        <h2 class="col">Education</h2>

        <div
          *ngFor="let education of profileData()?.Education"
          class="section-text col-right"
        >
          <h3>
            <span class="emph">{{ education.degree }}</span> in
            {{ education.fieldOfStudy }}
          </h3>
          <div>{{ education.institution }}</div>
          <div class="row">
            <div class="col light">
              {{ education.city }}, {{ education.country }}
            </div>
            <div class="col-right light">
              {{ education.startDate | date : "MMMM yyyy" }} -
              {{ education.endDate | date : "MMMM yyyy" }}
            </div>
          </div>
        </div>
      </div>

      <div class="experience-section row">
        <h2 class="col">Experience</h2>

        <div
          *ngFor="let experience of profileData()?.Experience"
          class="section-text col-right"
        >
          <div class="row">
            <div class="col">
              <h3>{{ experience.company }}</h3>
            </div>
          </div>
          <div class="row subsection">
            <div class="emph col">{{ experience.position }}</div>
            <div class="col-right light">
              {{ experience.startDate | date : "MMMM yyyy" }} -
              {{ experience.endDate | date : "MMMM yyyy" }}
            </div>
          </div>
          <div>
            {{ experience.description }}
          </div>
          <ul class="desc">
            <li *ngFor="let responsibility of experience.responsibilities">
              {{ responsibility }}
            </li>
          </ul>
        </div>
      </div>

      <section class="project-section row">
        <h2 class="col">Projects</h2>
        <div class="section-text col-right">
          <div
            *ngFor="let project of profileData()?.Projects"
            class="project-item"
          >
            <a [href]="project.link" target="_blank">{{ project.title }}</a>
            <p>{{ project.description }}</p>
            <p>
              <strong>Technologies:</strong>
              {{ project.technologies.join(", ") }}
            </p>
          </div>
          <br />
        </div>
      </section>

      <section class="honours-section row">
        <h2 class="col">Certifications</h2>

        <div
          class="section-text col-right"
          *ngFor="let cert of profileData()?.Certifications"
        >
          <div class="row">
            <div class="col">
              <h3>{{ cert.name }}</h3>
            </div>
          </div>

          <div class="row subsection">
            <div class="emph col">{{ cert.issuingOrganization }}</div>
            <div class="col-right light">{{ cert.issueDate }}</div>
          </div>

          <div *ngIf="cert.credentialId" class="row subsection">
            <div class="emph col">Credential ID:</div>
            <div class="col-right light">{{ cert.credentialId }}</div>
          </div>

          <div class="desc">
            {{ cert.summary }}
          </div>
        </div>
      </section>
    </section>
  </section>
</section>
