.login-form {
  max-width: 400px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}




.login-with-google-btn {
  /* General styles */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 4px 3px 52px;
  width: 100%;
  border: 1px solid rgb(182, 180, 180); 
  background-color: white;
  color: rgb(71, 71, 71);
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  transition: background-color 0.3s, box-shadow 0.3s;

  /* Focus styles */
  &:focus {
    outline: none;  
  }

  /* Hover styles */
  &:hover {
    background-color: #f5f5f5;
  }

  /* Active styles */
  &:active {
    background-color: #eeeeee;
  }
}