<div class="signup-container">
  <!-- <app-logo></app-logo> -->
  <form class="form" [formGroup]="signUpForm">
    <h3 class="text-center">Create an account </h3>

    <div class="form-group">
      <label for=""> Email </label>
      <input
        class="form-input"
        formControlName="email"
        type="text"
        name="email"
        placeholder="Email address"
      />
      <!-- <div *ngIf="submitted && formField.email.errors" class="invalid-feedback">
        <div *ngIf="formField.email.errors.required"> Email is required</div>
      </div> -->
    </div>

    <div class="form-group">
      <label for=""> Password </label>
      <input
        class="form-input"
        formControlName="password"
        type="password"
        placeholder="Enter password"
      
      />
      <div
        
        class="invalid-feedback"
      >
        <!-- <div *ngIf="formField.password.errors.required">
          Password is required
        </div>
        <div *ngIf="formField.password.errors.minlength">
          Password must be at least 6 characters
        </div> -->
      </div>
    </div>

    <div class="form-group terms">
      <p> Already have an account <a routerLink="/auth/login"> Login </a></p>
    </div>
    <button class="btn btn-green" (click)="register()">Register</button>

    <div class="btn-group">
      <button type="button" class="login-with-google-btn" >
         Continue with Google
      </button>
    </div>
  </form>

</div>
