.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.form {
  border-radius: 5px;
  background: white;
  width: 25rem;
  padding: 3rem;
}

h3 {
  font-size: 1.7rem;
  text-align:center;
  font-weight: bold;
}

label {
  font-weight: 400;
  padding: 0.5rem 0;
  text-transform: capitalize;
}

.form-group {
  margin: .6rem 0;
  display: flex;
  flex-direction: column;
}

.form-group.terms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 3px;

  p {
    padding-left: 6px;
    font-size: 15px;

    a {
      text-decoration: none;
      color: teal;
      text-align: center;
    }
  }
}

.form-input {
  padding: 0.7rem;
  border-radius: 0.4rem;
  outline: none;
  font-size: 15px;
  border: 1px solid rgb(226, 224, 221);
}

.form-input:focus {
  border-color: #026620;
  // box-shadow: 0 0 0 0.2rem rgba(2, 87, 16, 0.25);
}


.btn {
  border: none;
  outline: none;
  padding: 13px 20px;
  width: 100%;
  border-radius: 5px;
  color: white;
}

.btn:hover {
  cursor: pointer;
}

.btn-dark {
  background: rgb(20, 26, 26);
  margin-bottom: 1rem;
}

.btn-green{
  background: rgb(2, 158, 132);
  margin-bottom: 1rem;
  color: whitesmoke;
}

.border-line {
  width: 70%;
  border: 1px solid rgb(229, 229, 241);
  margin: 1rem;
  text-align: center;
}



.btn-group {
  margin-bottom: 0.8rem;
  width: 100%;
}

.btn-default {
  color: white;
  border: 1px solid rgb(240, 234, 234);
  background: whitesmoke;
  color: rgb(92, 88, 88);
}

.btn-cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  span {
    margin-right: 1rem;
    font-size: 15px;
  }

  a {
    text-decoration: none;
    color: teal;
    font-weight: 200;
  }
}

.invalid-feedback {
  color: rgb(233, 47, 47);
}

.is-invalid{
  color: rgb(233, 47, 47);
}

@media screen and (max-width: 500px) {
  .form {
    // width: 17rem;
    padding: 2rem;
  }
}


.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 8px;
  border: 1px solid rgb(182, 180, 180);
  width: 100%;
  color: rgb(71, 71, 71);
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  text-align: left;
  

  &:hover{
    background-color: gainsboro;
  }
  
  &:active {
    background-color: #eeeeee;
  }
  
  &:focus {
    outline: none;
  }
}











 
