 
<form [formGroup]="skillsForm">
  <mat-form-field appearance="outline">
    <mat-label>Skills</mat-label>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let skill of skills.controls; let i = index" (removed)="removeSkill(i)">
        {{ skill.value }}
        <button mat-icon-button (click)="removeSkill(i)">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        [formControl]="skills.controls[skills.controls.length - 1]"
        (matChipInputTokenEnd)="addSkill($event.value)"
        [matChipInputFor]="chipList"
        placeholder="Add a skill"
      />
    </mat-chip-list>
  </mat-form-field>

  <button type="button" (click)="saveToLocalStorage()">Save</button>
</form>
