<!-- <section class="h-screen flex justify-center items-center">
  <div class="max-w-5xl mx-auto mt-12 px-4 text-center">
    <div class="w-full max-w-3xl mx-auto">
      <h1
        class="mt-2 mb-6 text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-indigo-500"
      >
        The Award Winning Resume Builder <br />
        Get your dream job with AI Resume Builder.
      </h1>
      <p class="px-4 leading-relaxed">
        A one-of-a-kind resume builder that keeps your privacy in mind.
        Completely secure, customizable, portable, open-source and free forever.
        Try it out today!
      </p>
      <div>
        <a
          class="inline-block py-4 px-8 leading-none text-white bg-slate-800 rounded text-sm font-bold"
          routerLink="/dashboard/ui"
        >
          Try for free
        </a>
      </div>
    </div>
  </div>
</section> -->


<router-outlet />