<div class="form-section">
    <form [formGroup]="languagesForm">
      <div formArrayName="skillsRecords">
        <div
          *ngFor="let skills of skillsRecord.controls; let i = index"
          [formGroupName]="i"
          class="education-record"
        >
          <h3></h3>
  
          <div class="form-section flex flex-wrap  -mx-2">
            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="name"> Language </label>
              <input
                id="name"
                type="text"
                nz-input
                placeholder=" Enter Skill"
                nzSize="default"
                formControlName="name"
               
              />
            </div>
  
            <div class="example-input px-2 py-2 sm:w-1/2">
              <label for="name"> Proficiency  </label>
              <nz-select
                class="w-full "
                formControlName="proficiency"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select Proficiency"
              >
                <nz-option nzLabel="Beginner" nzValue="Beginner"></nz-option>
                <nz-option
                  nzLabel="Intermediate"
                  nzValue="Intermediate"
                ></nz-option>
                <nz-option nzLabel="Advanced" nzValue="Advanced"></nz-option>
  
                <nz-option nzLabel="Expert" nzValue="Expert"></nz-option>
                <nz-option nzLabel="Master" nzValue="Master"></nz-option>
              </nz-select>
            </div>
          </div>
  
         
  
          <div class="flex justify-end">
            
            <button
            (click)="removeRecord(i)"
            nz-button nzType="primary" [nzSize]="'small'"><span nz-icon nzType="delete"></span></button>
  
          </div>
        </div>
      </div>
  
      <button (click)="addRecord()"  nz-button nzType="primary" class="btn-create" type="button">
        Add Languages
      </button>
    </form>
  </div>
  