<section class="app-container">
  <section class="builder">
    <nz-collapse [nzBordered]="false">
      @for (panel of panels; track panel) {
      <nz-collapse-panel
        #p
        [nzHeader]="panel.name"
        [nzActive]="panel.active"
        [ngStyle]="panel.customStyle"
        [nzExpandedIcon]="!$first ? panel.icon || expandedIcon : undefined"
      >
        <ng-container *ngIf="panel.visible">
          <ng-container *ngComponentOutlet="panel.component"></ng-container>
        </ng-container>
        <ng-template #expandedIcon let-active>
          {{ active }}
          <span
            nz-icon
            nzType="caret-right"
            class="ant-collapse-arrow"
            [nzRotate]="p.nzActive ? 90 : -90"
          ></span>
        </ng-template>
      </nz-collapse-panel>
      }
    </nz-collapse>
  </section>

  <section class="preview">
   <div class="preview-template">
    <app-template-sunshine
    [PersonalDetails]="PersonalDetails"
    [Education]="Education"
  ></app-template-sunshine>
   </div>
  </section>

  
</section>