<!-- <mat-accordion class="modern-accordion">
  <ng-container *ngFor="let panel of panels; let i = index">
    <mat-expansion-panel
      [expanded]="step === i"
      (opened)="setStep(i)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="mat-panel-title">
          <mat-icon>{{ panel.icon }}</mat-icon> {{ panel.title }}
        </mat-panel-title>
        <mat-panel-description>
          <span class="icon-container">
            <mat-icon>add</mat-icon>
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container [ngSwitch]="i">
        <app-cv-header
          *ngSwitchCase="0"
          [PersonalDetails]="PersonalDetails"
          (updatePersonalInfo)="onPersonalInfoUpdate($event)"
        ></app-cv-header>

        <app-summary
          *ngSwitchCase="1"
          [Summary]="Summary"
          (updateSummaryInfo)="onSummaryUpdate($event)"
        ></app-summary>

        <app-experience
          [Experience]="Experience"
          (updateExperienceInfo)="onExperienceUpdate($event)"
          *ngSwitchCase="2"
        ></app-experience>

        <app-education
          [Education]="Education"
          (updateEducationInfo)="onEducationUpdate($event)"
          *ngSwitchCase="3"
        ></app-education>

        <app-skills
          [Skills]="Skills"
          (updateSkillsInfo)="onSkillsUpdate($event)"
          *ngSwitchCase="4"
        ></app-skills>
      </ng-container>

      <mat-action-row *ngIf="i < 4">
        <button (click)="prevStep()">
          <mat-icon>chevron_left</mat-icon> Previous
        </button>
        <button (click)="nextStep()">
          Next <mat-icon>chevron_right</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </ng-container>

  <ng-container *ngFor="let extraPanel of extraPanels; let i = index">
    <mat-expansion-panel *ngIf="extraPanel.visible" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="mat-panel-title">
          <mat-icon>{{ extraPanel.icon }}</mat-icon> {{ extraPanel.title }}
        </mat-panel-title>
        <mat-panel-description>
          <span class="icon-container">
            <mat-icon>add</mat-icon>
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="p-4">
        <ng-container *ngComponentOutlet="extraPanel.component"></ng-container>
      </div>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>

<section class="flex flex-wrap">
  <button
    *ngFor="let btn of extraButtons; let i = index"
    (click)="toggleExtraPanel(i)"
    class="my-3 mx-2 p-2 btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline border rounded-md border-green-700 hover:bg-green-700 text-green-700 hover:text-white font-normal"
  >
    {{ btn }}
  </button>
</section> -->
 