<section class="app-container">
  <div class="builder">
    <div class="builder-container">
      <!-- <app-cv-header></app-cv-header>
      <app-experience></app-experience>
      <app-education></app-education>
      <app-references></app-references> -->
      <app-publications></app-publications>
      <app-skills></app-skills>
      <app-courses></app-courses>
    </div>
  </div>

  <div class="preview">
    <div class="resume-preview" id="resumePreview">
      <app-template-sunshine></app-template-sunshine>
    </div>
  </div>
</section>


