<section class="app-container">
  <section class="builder">
    <nz-collapse [nzBordered]="false">
      @for (panel of panels; track panel) {
      <nz-collapse-panel
        #p
        [nzHeader]="panel.name"
        [nzActive]="panel.active"
        [ngStyle]="panel.customStyle"
        [nzExpandedIcon]="!$first ? panel.icon || expandedIcon : undefined"
      >
        <ng-container *ngIf="panel.visible">

          <ng-container *ngComponentOutlet="panel.component; injector: createInjector(panel)"></ng-container>
          
          <!-- <ng-container *ngComponentOutlet="panel.component"></ng-container> -->
          <!-- <app-cv-header></app-cv-header>
          <app-summary></app-summary>
          <app-experience></app-experience>
          <app-education></app-education>
          <app-skills></app-skills>
          <app-hobbies></app-hobbies>
          <app-references></app-references>
          <app-languages></app-languages>
          <app-courses></app-courses>
          <app-publications></app-publications>
          <app-extra-activities></app-extra-activities> -->

          <!-- <app-projects></app-projects> -->
          
        </ng-container>
        <ng-template #expandedIcon let-active>
          {{ active }}
          <span
            nz-icon
            nzType="caret-right"
            class="ant-collapse-arrow"
            [nzRotate]="p.nzActive ? 90 : -90"
          ></span>
        </ng-template>
      </nz-collapse-panel>
      }
    </nz-collapse>
  </section>

  <section class="preview">
   <div class="preview-template">
    <app-template-sunshine
    [PersonalDetails]="PersonalDetails"
    [Education]="Education"
  ></app-template-sunshine>
   </div>
  </section>
</section>
