<section class="main-wrapper px-2">
  <div class="grid xl:grid-cols-1 grid-cols-1 container mx-auto">
    <div class="py-5">
      <div class="py-3 px-3 rounded-xl border w-full bg-green-900">
        <div class="flex">
          <div class="flex gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 text-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
              />
            </svg>
            <p class="font-semibold text-white">Cleansheet Resume</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="relatve container mx-auto">
    <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
      <div class="mx-auto w-full max-w-3xl text-center md:mb-16 lg:mb-20">
        <h1 class="mb-4 text-4xl font-semibold md:text-6xl">
          Cleansheet
          <span class="inline-block bg-green-700 text-white px-2 transform skew-x-3 ml-1">
            AI</span
          >.
        </h1>
        <p class="mx-auto mb-5 max-w-[628px] text-xl text-[#636262] leading-normal lg:mb-8">
          A one-of-a-kind resume builder that keeps your privacy in mind.
          Completely secure, customizable, portable, open-source and free
          forever. Try it out today!
        </p>

        <div class="flex justify-center items-center">
          <a
            class="group relative inline-block text-sm rounded-md font-medium  text-white !important focus:outline-none focus:ring"
            (click)="login()"
          >
            <span
              class="absolute inset-0 border rounded-md border-green-600 group-active:border-green-700"
            ></span>
            <span 
             
              class="block border rounded-md border-green-600 bg-green-700 px-12 py-3 transition-transform active:border-green-500 active:bg-green-500 group-hover:-translate-x-1 group-hover:-translate-y-1"
            >
              Create Account
            </span>
          </a>
        </div>
      </div>
    </div>

    <img
      src="/icons/svgs/pattern-1.svg"
      alt=""
      class="absolute bottom-0 bg-cover bg-center px-4 left-0 right-auto top-auto -z-10 inline-block md:bottom-1/2 md:left-0 md:right-auto md:top-auto"
    />

    <img
      src="/icons/svgs/pattern-1.svg"
      alt=""
      class="absolute bottom-auto bg-cover bg-center px-4 left-auto right-0 top-0 -z-10 hidden sm:inline-block"
    />
  </section>

  <section class="container mx-auto">
    <div
      class="flex pt-12 px-6 md:px-20 items-center justify-center bg-hero overflow-hidden"
    >
      <div class="flex flex-col gap-6 md:flex-row items-center max-w-8xl">
        <div class="w-full md:w-1/2 lg:pr-32">
          <h2
            class="text-4xl lg:text-5xl text-center md:text-left text-green-900 leading-tight font-medium"
          >
            Achieve a 100% match between your resume and the job description.
          </h2>
          <h3
            class="mt-6 md:mt-10 text-md lg:text-xl text-center md:text-left text-gray-700 font-light"
          >
            Create the prefect resume for your next job
          </h3>
          <div
            class="mt-10 flex flex-col sm:flex-row justify-center md:justify-start"
          >
            <button
            (click)="login()"
              class="w-full sm:w-40 px-4 py-3 rounded font-semibold text-md bg-green-500 text-white border-2 border-green-500"
            >
              Get started
            </button>
            <a
              href="https://github.com/acquahsamuel/cleansheet-ai-resume-builder"
              class="w-full mt-4 sm:mt-0 sm:ml-4 sm:w-48 px-4 py-3 rounded font-semibold text-md bg-white text-black !important border-2 border-gray-500"
            >
               Contribute on Github
           </a>
          </div>
        </div>
        <div class="w-full md:w-1/2 flex justify-center md:justify-end">
          <img src="/images/sample.jpg" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="rounded-xl py-2 my-2 sm:py-32 bg-green-500">
      <div class="px-6 lg:px-8 mx-auto container">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
        >
          <div>
            <h2
              class="text-lg font-semibold leading-8 tracking-tight text-green-600"
            >
              Everything you need
            </h2>
            <p
              class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
              All-in-one platform
            </p>
            <p class="mt-6 text-base leading-7 text-white">
              Open-Source, Secure, and ATS-Optimized This project is a unique,
              privacy-focused resume builder designed to help you create
              professional CVs with ease. It offers complete security,
              customization options, and portability, ensuring your personal
              data remains protected
            </p>
          </div>
          <dl
            class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 sm:grid-cols-2 lg:gap-y-16"
          >
            <div *ngFor="let feature of EXTRA_FEATURES">
              <div class="relative h-full ml-0 mr-0 sm:mr-2">
                <span
                  class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-green-900 rounded-lg"
                ></span>
                <div
                  class="relative h-full p-5 bg-white border-2 border-green-900 rounded-lg"
                >
                  <div class="flex items-center -mt-1">
                    <h3 class="my-2 text-lg font-bold text-gray-800 underline">
                      {{ feature.title }}
                    </h3>
                  </div>
                  <p
                    class="mt-1 mb-1 text-xs font-medium text-green-500 uppercase"
                  ></p>
                  <p class="mb-2 text-gray-600">
                    {{ feature.description }}
                  </p>
                </div>
              </div>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </section>

  <section class="faq-section container mx-auto max-w-5xl py-10">
    <div class="flex justify-center items-center">
      <h3 class="text-3xl text-green-800 py-2 font-semibold">
        Frequently Asked Question
      </h3>
    </div>

    <div class="space-y-4">
      <details
        class="group [&_summary::-webkit-details-marker]:hidden"
        *ngFor="let item of FAQS"
      >
        <summary
          id="summary"
          class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
        >
          <h2 class="font-medium">{{ item.question }}</h2>

          <svg
            class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </summary>

        <p class="mt-4 px-4 leading-relaxed text-gray-700">
          {{ item.answer }}
        </p>
      </details>
    </div>
  </section>

  <section class="container mx-auto py-10">
    <div class="p-12 rounded-xl bg-gradient-to-r from-green-500">
      <h2 class="px-4 font-medium mb-2 font-roboto text-white">
        Take your resume one step further.
      </h2>
      <p class="px-4 text-2xl text-white font-roboto">
        Utilize AI-Enhanced resumes to tailor your skills and secure your dream
        job with confidence.
      </p>

      <div>
        <div
          class="w-52 max-w-sm rounded-xl bg-gradient-to-tr from-green-300 to-green-800 p-0.5 shadow-lg"
        >
          <button
            class="w-52 font-bold text-xl bg-green-700 text-white px-6 py-3 rounded-xl"
          >
            Try now
          </button>
        </div>
      </div>
    </div>
  </section>

  <div class="grid xl:grid-cols-1 grid-cols-1 container mx-auto">
    <div class="py-5">
      <div class="py-3 px-3 rounded-xl border w-full bg-green-900">
        <div class="flex justify-between items-center">
          <div class="flex justify-items-center items-center gap-2">
            <p class="font-semibold text-white">Guglex Technologies</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
