.editor-container {
  border: 1px solid rgb(186, 210, 235);
  // border-radius: 5px;
  //   padding: 10px;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 3px 4px;
  flex-wrap: wrap;
}

.toolbar button {
  margin-right: 5px;
}

.editor {
  min-height: 100px;
  border-bottom: 1px solid #afaeae !important;
  padding: 10px;
  overflow: auto;
  outline: none;
}

.editor:focus {
  border-color: dodgerblue;
  //   border: 1px solid #ddd !important;
}
