<div class="signup-container">
  <!-- <app-logo></app-logo> -->
  <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <h3>Reset Password</h3>
    <div class="form-group">
      <label for=""> Email Address </label>
      <input class="form-input" name="email" formControlName="email"  type="email" required placeholder="Enter Email" />
    </div>
    <div class="form-group terms">
      <p> Already have an account <a routerLink="/auth/login"> Login </a></p>
    </div>
    
    <button class="btn btn-green">Reset password </button>
  </form>
</div>

<ng-template #loginProgress>
  <div class="loginProgress">
    <!-- <mat-spinner strokeWidth="3" [diameter]="30"></mat-spinner> -->
  </div>
</ng-template>
