.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.form {
  border-radius: 5px;
  background: white;
  width: 25rem;
  padding: 3rem;
}


h3 {
  font-size: 1.4rem;
}

label {
  font-weight: 400;
  padding: 0.5rem 0;
  text-transform: capitalize;
}

.form-group {
  margin: 1.2rem 0;
  display: flex;
  flex-direction: column;
}

.form-group.terms {
  display: flex;
  flex-direction: row;
  padding: 0 3px;
  justify-content: center;
  align-items: center;

  p {
    padding-left: 6px;
    font-size: 15px;

    a {
      text-decoration: none;
      color: teal;
    }
  }
}

.form-input {
  padding: 0.7rem;
  border-radius: 0.4rem;
  outline: none;
  font-size: 17px;
  border: 1px solid rgb(226, 224, 221);
}

.form-input:focus {
  border-color: #026620;
}

.btn {
  border: none;
  outline: none;
  padding: 13px 20px;
  width: 100%;
  border-radius: 5px;
  color: white;
}

.btn:hover {
  cursor: pointer;
}

.btn-dark {
  background: rgb(20, 26, 26);
  margin-bottom: 1rem;
}

.border-line {
  width: 70%;
  border: 1px solid rgb(229, 229, 241);
}

.btn-group {
  margin-bottom: 0.8rem;
  width: 100%;
}

.btn-default {
  color: white;
  border: 1px solid rgb(240, 234, 234);
  background: whitesmoke;
  color: rgb(92, 88, 88);
}



.btn-green{
  background: rgb(2, 158, 132);
  margin-bottom: 1rem;
  color: whitesmoke;
}


.btn-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  span {
    margin-right: 1rem;
    font-size: 15px;
  }
}

.invalid-feedback {
  color: rgb(233, 47, 47);
}



@media screen and (max-width: 500px) {
  .form {
    // width: 17rem;
    padding: 2rem;
  }
}
