<div class="main-wrapper">
	<mat-drawer-container [hasBackdrop]="false"
		class="dashboard-container"
		autosize>
		<mat-toolbar>
			<div class="mat-toolbar-content">
				<div class="mat-toolbar-nav-left">
					<div class="dashboard-sidenav-content">
						<div class>
							<button (click)="drawer.toggle()"
								type="button"
								mat-button>
								<mat-icon aria-hidden="false"
									class="menu-icon"
									aria-label="Example home icon">
									menu
								</mat-icon>
							</button>
						</div>
					</div>
					<span> Cleansheet cv </span>
				</div>

				<div class="mat-toolbar-nav-right">
					<div class="image-container">
						<img [matMenuTriggerFor]="menu"
							[src]="userProfile"
							class="user-image"
							alt="profile image">
						<mat-menu #menu="matMenu">
							<a (click)="logout()"
								mat-menu-item>
								<mat-icon>dashboard</mat-icon>
								My Notes
							</a>

							<a (click)="logout()"
								mat-menu-item>
								<mat-icon>turned_in_not</mat-icon>
								Customize ChatGPT
							</a>

							<a (click)="logout()"
								mat-menu-item>
								<mat-icon>settings</mat-icon>
								Settings
							</a>

							<hr class="hr-r">
							<a (click)="logout()"
								mat-menu-item>
								<mat-icon>power_settings_new</mat-icon>
								Logout
							</a>
						</mat-menu>
					</div>
				</div>
			</div>
		</mat-toolbar>

		<mat-drawer #drawer
			class="dashboard-sidenav"
			mode="side"
			opened="true">
			<div class="header">Cleansheet</div>
			<div class="sidebar-wrapper">
				<div *ngFor="let link of LINKS"
					class="link-container"
					[routerLink]="link.path"
					routerLinkActive="div-active">
				   <mat-icon>{{ link.icon }}</mat-icon><p>{{ link.title }}</p>
				</div>
			</div>

			<div class="footer">
				Cleansheetcv v1.0 (acquahsamuel)
			</div>
		</mat-drawer>

		

		<div class="app-container">
			<div class="#">
				<router-outlet></router-outlet>
			</div>
		</div>
	</mat-drawer-container>
</div>
