.program {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.custom-input {
  width: 100%;
  background-color: rgba(243, 244, 246, 0.5);
  border-radius: 7px;
}
 
.content-wrapper {
  // border: 1px solid gray;
  // padding: 10px;
  border-radius: 8px;
}
